*~
*#*
.DS*
*.cm
*.class
*.pyc
*.pyd
build/
doc/_build/
dist/
tools/settings.py
pymongo.egg-info/
*.so
*.egg*
.idea/
.vscode/
.nova/
.venv

# Lambda temp files
test/lambda/.aws-sam
test/lambda/env.json
test/lambda/mongodb/pymongo/*
test/lambda/mongodb/gridfs/*
test/lambda/mongodb/bson/*

# test files.
xunit-results/
secrets-export.sh
server.log
expansion.yml
test-results.json
.evergreen/scripts/env.sh
mongocryptd.pid
libmongocrypt.tar.gz
libmongocrypt/
libmongocrypt_git/
